<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./app.component.css" rel="stylesheet">
 
  <title>Document</title>
</head>
<body >
  <header>
    <div class="div_header">
        <img  class="logo_ada" src="../assets/ada.png" alt="aqui hay un logo de ada">
    <div >
      <img class="logos" src=" ../assets/facebook.png" alt="aqui hay un logo de facebook">
      <img class="logos" src=" ../assets/img/twitter.png" alt="aqui hay un logo de twitter">
      <img class="logos" src=" ../assets/img/instagram.png" alt="aqui hay un logo de instagram">
    </div>
       

    </div>   
  </header>

<main>
  <section class="profile">
    <h1>Profile</h1>
    <p >I'am developer junior</p>
    <img id="foto" src="../assets/img/IMG_20231231_134539.jpg">
  </section>


  <section class="info_about">
    <h3>About me</h3>
    <p>Junior developer in constant evolution with solids
      Basic knowledge of SQL, C#, and Java.</p>
  </section>


<section class="details">
  <h3 >Details</h3>
  <span>Name</span>
  <p>Daniela Padilla</p>
  <span>Age</span>
  <p>27</p>
  <span>Location</span>
  <p>Colombia,Bogotá</p>


  <img class="logos" src=" ../assets/img/facebookn.png" alt="aqui hay un logo de facebook">
  <img class="logos" src=" ../assets/img/twittern.png" alt="aqui hay un logo de twitter">
  <img class="logos" src=" ../assets/img/instagramn.png" alt="aqui hay un logo de instagram">
</section>
</main>
</body>
</html>


<router-outlet />
